/*Cor dos botões de Navegação*/
:root {
    --swiper-theme-color: #737373;
}


.swiper {
    height: 90vh;
    width: 100%;
    margin: 0;
    
}

/*Estiliza a imagem do slide*/
.swiper-slide-img {
    display: block;
    width: 100%;
    height: 90%;
    object-fit: cover;
}